.SearchResult{
    font-size: 1.2em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
    padding: 20px;
    height: 150px;
    max-width: 500px;
    border-radius: 3px;
    background-color: #3d6672;
    color: #f9f8f8;
    box-shadow: 
        0 16px 38px -12px rgba(0, 0, 0, 0.56), 
        0 4px 25px 0px rgba(0, 0, 0, 0.12), 
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.ImgBox{
    height: 105px;
    width: 105px;
    margin-right: 10px;
}
.InfoBox{
    position:relative;
    top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    height: 120px;
    width: 300px;
}
.SongImg{
    width: 100%;
    height: auto;
}
.SongTitle{
    font-weight: bold;
    font-size: 1.3em;
    margin: 0px 0px;
    cursor: pointer;
    
}
.SongArtist{
    font-size: 1.1em;
    margin: 0px 0px;
    padding-left: 10px;
}
.SongAlbum{
    font-size: .7em;
    margin: 0px 0px;
    padding-left: 10px;
}

@media(max-width: 500px){
    .SearchResult{
        margin: 5px;
        justify-content: space-evenly
    }
    .InfoBox{
        top: -20px;
    }
    .SongTitle{
        font-size: .9em;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .SongArtist{
        font-size: .7em;
        margin: 0px 0px;
        padding-left: 10px;
    }
    .SongAlbum{
        font-size: .5em;
        margin: 0px 0px;
        padding-left: 10px;
    }
    
}